.card {
  width: 900px;
}

@media (max-width: 600px) {
  .card {
    width: 500px;
  }
}

@media (max-width: 788px) {
  .card {
    width: 700px;
  }
}

@media (max-width: 414px) {
  .card{
    width: 300px;
  }
}
